.post{
  .headline-content{
    margin-bottom: 0;
  }
}
.alignright{
  float: right;
  margin-left: 100px;
}
.alignleft{
  float: left;
  margin-right: 100px;
}
.aligncenter{
  float: none;
  margin: 0 auto;
}
.post-content{
  padding-bottom: 50px;
  clear: both;
  .wp-caption{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .post-image{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    float: right;

    @include _768{
      margin: 10px auto;
    }
  }

  p{
    margin-bottom: 27px;
  }

  .post-image-decription,
  .wp-caption-text{
    margin-top: 10px;
    font-family: $text-font;
    font-weight: 700;
    font-size: 18px;
  }
}

.related-products{
  margin-bottom: 100px;
}

.product-card{
  position: relative;
  text-align: left;
  z-index: 3;

  @include _768{
    text-align: center;
  }

  .stretched-link:hover{
    text-decoration: none;
  }
}

.product-card-img{
  width: 100%;
  display: block;
  height: 280px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
  border: $card-border;
  border-top-right-radius: $product-image-border-left-radius;
}

.product-card-title{
  display: block;
  font-family: $title-font;
  font-weight: 700;
  font-size: 18px;
  color: $title-color;
}

.card-price{
  margin: 10px 0 30px;
  font-size: $text-font-size;

  .price{
    margin-right: 4px;
    font-family: $text-font;
    font-weight: 700;
  }
}
.mta-{
  &posts__pagination{
    width: 100%;
    float: left;
    margin-bottom: 80px;
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      li{
        display: inline-block;
        vertical-align: middle;
        span,
        a{
          width: 37px;
          height: 37px;
          display: block;
          line-height: 37px;
          text-align: center;
          font-size: 18px;
          font-weight: 700;
          position: relative;
          color: $primary-accent;
        }
        span.current{
          color: #fff;
          background-color: $secondary-accent;
        }
        a{
          &:hover{
            color: $secondary-accent;
            // background-color: $secondary-accent;
            text-decoration: none;
          }
        }
        a.next{
          span{
            width: 9px;
            height: 9px;
            display: inline-block;
            border-top: 2px solid $primary-accent;
            border-right: 2px solid $primary-accent;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -4.5px 0 0 -5px;
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
          }
          &:hover{
            background-color: transparent;
            span{
              border-color: $secondary-accent;
            }
          }
        }
        a.prev{
          span{
            width: 9px;
            height: 9px;
            display: inline-block;
            border-top: 2px solid $primary-accent;
            border-left: 2px solid $primary-accent;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -4.5px 0 0 -3px;
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
          }
          &:hover{
            background-color: transparent;
            span{
              border-color: $secondary-accent;
            }
          }
        }
      }
    }
  }
}
.products-slider{
  overflow: hidden;
}

.related-products-container{
  position: relative;

  .swiper-related-buttons{
    position: absolute;
    top: 50%;
    left: -6%;
    transform: translateY(-60%);
    width: 112%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;

    @include _1024{
      left: 0;
      width: 100%;
    }

    .swiper-button{
      width: 13px;
      height: 25px;
      display: block;
      background-position: center;
      background-size: cover;
      &::after{
        display: none;
      }
      &-prev {
        background-image: url('../images/prev-arrow-large.svg');
        left: -50px;
        &:hover{
          background-image: url('../images/prev-arrow-hover.svg');
        }
      }
      &-next {
        background-image: url('../images/next-arrow-large.svg');
        right: -50px;
        &:hover{
          background-image: url('../images/next-arrow-hover.svg');
        }
      }
    }
  }
}