.section-cart{
  padding-bottom: 120px;
}

.table-responsive {
  .table td,
  .table th {
    vertical-align: middle;
    padding: 20px 1rem;
    border-top: none;
    border-bottom: $card-border;
  }

  .table thead th {
    color: $font-dark;
    font-size: $text-font-size;
    font-family: $text-font;
    font-weight: 700;
    border-top: none;
    border-bottom: $card-border;
  }

  .table td,
  .table tbody th {
    font-size: $text-font-size;
    font-weight: 400;
  }

  .table td, .table th{
    padding: 20px 1rem;
    border-top: none;
    border-bottom: $card-border;
  }

  .table thead th{
    border-top: none;
    border-bottom: $card-border;
  }

  .product-link{
    font-family: $text-font;
    font-weight: 400;
    color: $font-dark;
    &.link{
      font-weight: 700;
      color: $primary-accent;
      &:hover{
        color: $secondary-accent;
      }
    }
    &:hover{
      font-family: $text-font;
      font-weight: 700;
      color: $primary-accent;
      text-decoration: none;
    }
  }

  .product-counter{
    max-width: 70px;
    height: 30px;
    border: $card-border;
    border-radius: $border-radius;
  }

  .product-remove-btn{
    border: none;
    outline: none;
    background-color: transparent;

    &>svg{
      width: 20px;
      height: 25px;
    }
  }

  .discount-info{
    font-family: $text-font;
    font-weight: 700;
  }
}

.cart-summury {
  .order-tax {
    font-size: $text-font-size;
  }

  .order-total-price{
    font-family: $text-font;
    font-weight: 700;
  }

  .cart-buttons{
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .order-btn{
    background-color: $primary-accent;
    border: $primary-accent;
    color: $font-light;

    &:hover{
      background-color: $secondary-accent;
    }
  }
}