.header-search{
  margin-bottom: 50px;
  padding: 0 15px;
  height: 285px;
  background-image: url('//via.placeholder.com/1920x285');
  background-size: cover;
  background-position: center;

  .search-form{
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 485px;

    input{
      padding: 13px 50px 14px 25px;
      width: 100%;
      border: none;
      border-radius: 12px;
      box-shadow: $header-shadow;
    }

    .search-icon{
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      padding: 0;
      background-color: transparent;
      border: none;
      background-image: url('../images/search-icon.svg');
      cursor: pointer;
      &:focus{
        outline: none;
      }
    }
  }
}

.breadcrumbs {
  a,
  span{
    font-size: 15px;
    line-height: 1.6;
    color: $font-dark;
    &.sep{
      margin: 0;
    }
  }
}

.headline-content{
  margin-bottom: 70px;
}

.headline-title{
  margin: 50px 0 40px;
  font-family: $title-font;
  font-weight: 700;
  color: $font-dark;
  font-size: $title-font-size;
}

.headline-description{
  .read-more{
    font-family: $text-font;
    font-weight: 700;
    color: $primary-accent;
  }
}

.category-list{
  margin-bottom: 80px;
}

.category-card{
  margin-bottom: 40px;
  text-align: center;
  overflow: hidden;
  &.small{
    .image-wrapper{
      .category-image{
        height: 220px;
      }
    }
  }
  

  .image-wrapper{
    position: relative;
    .category-image{
      width: 100%;
      height: 300px;
      background-size: cover;
      background-position: center;
      border: 1px solid #fff;
      border-top-right-radius: $product-image-border-left-radius;
    }
    &:before{
      position: absolute;
      content:"";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $secondary-accent;
      opacity: 0;
      border-top-right-radius: $product-image-border-left-radius;
      transition: $transition;
    }
  }

  &:hover{
    .image-wrapper::before{
      opacity: 0.5;
    }
  }

  .category-title {
    margin-top: 10px;
    color: $title-color;
    font-size: $text-lg-font-size;
    font-family: $text-font;
    font-weight: 700;
    text-align: center;
  }
}