.sidebar {
  margin-top: 60px;
  margin-bottom: 50px;

  .sidebar-divider {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    background-color: $footer-bg;
  }

  .widget-list {
    margin-left: 17px;
  }

  .widget-title {
    margin-bottom: 15px;
    color: $title-color;
    font-size: $text-lg-font-size;
    font-family: $title-font;
    font-weight: 700;
  }
  .categories-nav{
    width: 100%;
    &>ul{
      margin-left: 17px;
      li{
        position: relative;
        margin: 5px 0;
        color: $font-dark;
        font-size: $text-font-size;
        font-family: $text-font;
        font-weight: 400;
        transition: $transition;
        &.menu-item-has-children{
          &.current-menu-parent{
            &.show{
              ul{
                display: none;
              }
              .show-sub{
                background-image: url('../images/arrow-dropdown.svg');
                transform: rotate(0);
              }
            }
            ul{
              display: block;
            }
            .show-sub{
              background-image: url('../images/arrow-active-dropdown.svg');
              transform: rotate(180deg);
            }
          }
          ul{
            display: none;
          }
          &.show{
            &>ul{
              display: block;
            }
            &>.show-sub{
              background-image: url('../images/arrow-active-dropdown.svg');
              transform: rotate(180deg);
            }
          }
        }
        &.current-menu-parent,
        &.current-menu-item{
          &>a{
            font-weight: 700;
            color: $primary-accent;
          }
        }
        .show-sub{
          width: 15px;
          height: 20px;
          display: block;
          position: absolute;
          left: -17px;
          top: 1px;
          cursor: pointer;
          background-size: 10px 5px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('../images/arrow-dropdown.svg');
          &:hover{
            background-image: url('../images/arrow-active-dropdown.svg');
          }
        }
        a{
          color: $font-dark;
        }
      }
    }
    ul.sub-menu{
      display: block;
      margin-left: 20px;
    }
  }
  .widget-list-item {
    position: relative;
    margin: 5px 0;
    color: $font-dark;
    font-size: $text-font-size;
    font-family: $text-font;
    font-weight: 400;
    transition: $transition;

    .drop-toggler {
      position: absolute;
      top: 4px;
      left: 0;
      display: block;
      width: 12px;
      height: 14px;
      transform: translateX(-150%) rotate(90deg);
      transition: $transition;
      content: "";

      &:hover {
        cursor: pointer;
      }
    }

    .widget-list-link {
      color: $font-dark;
      transition: $transition;
    }

    .children {
      display: none;
    }

    &.active {
      color: $primary-accent;
      font-family: $text-font;
      font-weight: 700;

      & > .widget-list-link {
        color: $primary-accent;
      }

      & > .drop-toggler {
        transform: translateX(-150%) rotate(-90deg);
      }

      & > .children {
        display: block;
        margin-left: 20px;
      }
    }
  }

  .active-filters {
    margin-bottom: 20px;
    padding-left: 15px;
  }

  .active-filters-keyword {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    font-size: $text-font-size;
    font-family: $text-font;
    font-weight: 700;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 15px;
      height: 1px;
      background-color: $primary-accent;
      transform: translate(-125%, -50%) rotate(45deg);
      content: "";
    }

    &::after {
      transform: translate(-125%, -50%) rotate(-45deg);
    }
  }

  .search-keywords {
    margin: 0 -8px;
  }

  .search-keyword {
    margin: 7px;

    &.is-active {
      background-color: $secondary-accent;
      border-color: $secondary-accent;
    }
  }
}
.headline-content{
  .headline-description{
    a{
      font-weight: 700;
    }
    .show__less,
    .show__more{
      cursor: pointer;
      font-weight: 700;
      color: $primary-accent;
      transition: $transition;
      &:hover{
        color: $secondary-accent;
      }
    }
    .full__description{
      display: none;
    }
    &.full{
      .full__description{
        display: block;
      }
      .short__description{
        display: none;
      }
    }
  }
}
.headline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-view-toggler {
  svg {
    width: 25px;
    height: 25px;
    fill: $font-dark;
    transition: $transition;
  }

  .btn {
    padding: 5px;
    border-radius: 0;

    &:hover {
      background-color: $primary-light;
      border-color: $primary-light;
    }

    &:focus{
      outline: none;
      box-shadow: none;
    }
    &:hover{
      & > svg {
        fill: $secondary-accent;
      }
    }
    &.active {
      & > svg {
        fill: $primary-accent;
      }
    }

    &.list-view {
      svg {
        width: 28px;
      }
    }
  }
}

.category-list {
  .product-card {
    &.horizontal {
      display: flex;
      align-items: center;

      .product-card-info {
        margin: 0;
        padding: 0 0 0 30px;
        text-align: left;
      }
      .product-card-img{
        width: 250px;
      }
      .product-card-title {
        font-size: $text-lg-font-size;
      }
    }
  }

  .product-img-overlay {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
    border: $card-border;
    border-top-right-radius: $product-image-border-left-radius;
    cursor: pointer;
    .product-card-img{
      width: 100%;
      height: 258px;
      display: block;
      border: none;
      margin-bottom: 0;
    }
    &:hover{
      &::before{
        opacity: 1;
      }
      .overlay-content-inner {
        opacity: 1;
        visibility: visible;
      }
    }
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 35px;
      background-color: $product-card-overlay;
      opacity: 0;
      transition: $transition;
      pointer-events: none;
    }
    .overlay-content-inner {
      max-width: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      transition: $transition;
    }

    .overlay-content-item {
      display: block;
      padding: 5px 15px 6px;
      font-size: $text-sm-font-size;
      font-family: $text-font;
      font-weight: 700;
      text-align: center;
      border: $card-border-details;
      border-radius: $border-radius;

      &.details-link {
        margin-bottom: 20px;
        color: $font-light;
        text-decoration: none;
        padding: 9px 15px 10px;
        &:hover{
          color: $secondary-accent;
          background-color: #fff;
        }
      }

      &.product-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $primary-light;
      }

      .product-meta-counter {
        width: 50px;
        text-align: center;
        display: inline-block;
        margin: 0 10px;
        padding: 3px 12px;
        border: $card-border;
        border-radius: $border-radius;
      }

      .product-meta-cart {
        display: block;
        width: 20px;
        height: 20px;
        fill: $primary-accent;
        &:hover{
          fill: $secondary-accent;
        }
      }
    }
    //}

    &:hover .overlay-content {
      opacity: 1;
    }
  }
}

.products-about-info {
  margin-bottom: 50px;
  font-size: $text-font-size;
}
