.product-container {
  padding: 50px 0 90px;
  .product-content{
    width: 100%;
    padding-left: 80px;
  }
  .add-product {
    color: $font-light;
    font-size: $text-lg-font-size;
    font-family: $text-font;
    font-weight: 700;
    background-color: $primary-accent;

    @include _600 {
      margin-top: 15px;
    }

    &:hover {
      background-color: $secondary-accent;
      border-color: $secondary-accent;
    }

    & > svg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      fill: $primary-light;
    }
  }

  .link-back {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: $text-lg-font-size;
    font-family: $text-font;
    font-weight: 700;

    & > svg {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      fill: $primary-accent;
    }

    &:hover {
      color: $primary-accent;
    }
  }

  .product-title {
    margin-bottom: 10px;
    font-size: $title-font-size;
    font-family: $title-font;
    font-weight: 700;
  }

  .product-articule,
  .product-package {
    font-size: $text-font-size;
    line-height: 1.6;
  }

  .product-description {
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
  }

  .product-price {
    margin-bottom: 50px;
  }

  .product-price-title {
    font-size: $text-lg-font-size;
    font-family: $text-font;
    font-weight: 700;
    line-height: 27px;
  }

  .product-price-netto {
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 6px;

    .price {
      font-family: $text-font;
      font-weight: 700;
    }
  }

  .product-price-brutto {
    font-size: $text-font-size;
    line-height: 25px;
    .price {
      font-family: $text-font;
      font-weight: 700;
    }
  }

  .products-quantity {
    padding: 0 27px 0 12px;
  }
  .products-info{
    font-size: 15px;
    line-height: 20px;
  }
  .cart-form {
    width: 100%;
    p.form-title{
      display: inline-block;
    }
    .products-quantity{
      display: inline-block;
    }
    .add-product{
      display: inline-block;
      padding: 9px 25px 9px;
    }
    margin-bottom: 70px;

    @include _600 {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .form-title {
    font-size: $text-lg-font-size;
    font-family: $text-font;
    font-weight: 700;
  }

  .products-quantity-input {
    max-width: 90px;
    padding: 10px 0 11px 0;
    text-align: center;
    border: $card-border;
    border-radius: $border-radius;
  }

  .gallery-top {
    width: 100%;
    float: left;
    .small__galery{
      margin-right: -4%;
    }
    .thumbnail{
      width: 16%;
      height: 80px;
      float: left;
      border: $card-border;
      border-top-right-radius: $product-image-border-left-radius;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70% auto;
      margin-right: 4%;
      &:last-child{
        margin-right: 0;
      }
      &.large{
        width: 100%;
        height: 480px;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}
