.section-features {
  padding: 100px 0 120px;

  .section-content {
    max-width: 100%;
    padding: 0;
  }

  .headline-description {
    column-count: 2;

    @include _768 {
      column-count: 1;
    }

    .intro-text {
      display: block;
    }
  }

  .section-title {
    margin-bottom: 35px;
    color: $title-color;
    font-size: $title-font-size;
    font-family: $title-font;
    font-weight: 700;
  }

  .nav-pills {
    margin: 0 0 30px 0;
    .nav-link {
      margin: 7px;
      padding: 11px 25px 12px;
      color: $font-light;
      font-family: $text-font;
      font-weight: 400;
      background-color: $primary-accent;
      border-radius: $border-radius;
      transition: $transition;
      cursor: pointer;
      &:hover,
      &.active {
        background-color: $secondary-accent;
      }
    }
  }

  .tab-pane {
    position: relative;
  }

  .tab-slider {
    overflow: hidden;
  }
}

.feature-card {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background-color: $primary-light;
  border: $card-border;
  border-top-right-radius: $product-image-border-left-radius;
  .card-image{
    width: 100%;
    height: 240px;
    .thumbnail{
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }
  }
  @include _768 {
    max-width: 380px;
    margin: 0 auto;
  }
}

.card-image {
  max-height: 240px;
}

.card-text-content {
  padding: 20px 30px 30px;
  color: $font-dark;
  font-size: $text-font-size;
  font-family: $text-font;
  font-weight: 400;
  text-align: left;
}

.card-title {
  margin-bottom: 15px;
  font-size: $text-lg-font-size;
  font-family: $title-font;
  font-weight: 700;
  line-height: $text-line-height;
}

.card-description {
  margin-bottom: 15px;
  font-size: $text-font-size;
}

.card-price {
  margin-bottom: 30px;
  font-size: $text-lg-font-size;

  .price {
    margin-right: 4px;
    font-family: $text-font;
    font-weight: 700;
  }
}

.btn {
  padding: 10px 25px 11px;
  font-size: $text-sm-font-size;
  font-family: $text-font;
  font-weight: 700;
  border-radius: $border-radius;

  &:hover {
    background-color: $secondary-accent;
    border-color: $secondary-accent;
  }
}

.features-container {
  // .swiper-buttons {
  //   position: absolute;
  //   top: 50%;
  //   left: -4%;
  //   z-index: 3;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   width: 108%;
  //   transform: translateY(-50%);

  //   @include _1024 {
  //     left: 0;
  //     width: 100%;
  //   }
  // }

  .swiper-button {
    width: 13px;
    height: 26px;
    display: block;
    background-size: cover;
    background-position: center;
    &::after{
      display: none;
    }
    &-prev {
      left: -50px;
      background-image: url('../images/prev-arrow-large.svg');
      &:hover{
        background-image: url('../images/prev-arrow-large-hover.svg');
      }
    }
    &-next {
      right: -50px;
      background-image: url('../images/next-arrow-large.svg');
      &:hover{
        background-image: url('../images/next-arrow-large-hover.svg');
      }
    }
  }
}
