.footer {
  padding: 90px 0 110px;
  background-color: $footer-bg;
  color: $font-light;

  .footer-logo{
    max-width: 200px;
    margin-bottom: 40px;
  }

  .company-address{
    font-family: $text-font;
    font-weight: 400;
    line-height: 1.5;
  }

  .company-name {
    color: $font-light;
    font-family: $text-font;
    font-weight: 700;
  }
  .widget.widget_nav_menu{
    margin-top: 94px;
  }
  .contacts{
    margin-top: 25px;
  }

  .contact-link {
    color: $font-light;
  }

  .contact{
    display: block;
  }

  .products-categories{
    @include _768{
      margin: 10px 0;
    }
  }

  .category-link,
  .menu-item a{
    color: $font-light;
  }

  .footer-social{
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }

  .footer-social-icons{
    display: flex;
    align-items: center;

    .footer-social-link{
      display: inline-block;
      margin-left: 25px;
      max-width: 18px;
    }
  }

  .footer-meta{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include _768{
      margin-top: 20px;
      justify-content: start;
    }

    li{
      float: left;
      margin-right: 35px;
    }
  }
}