.header{
  box-shadow: $header-shadow;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 11;
  .top-nav {
    margin-bottom: 6px;
    & > ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .counter {
      margin-right: 5px;
    }

    .icon {
      &-mark {
        width: 17px;
        height: 23px;
      }

      &-cart {
        width: 21px;
        height: 19px;
      }

      &-user {
        width: 20px;
        height: 22px;
      }
    }
  }

  .navbar{
    padding: 25px 0 26px;

    @include _992{
      padding: 10px;
    }

    .top-nav{

      .nav-item{
        .nav-link{
          display: flex;
          align-items: center;
          font-family: $text-font;
          font-weight: 400;
          font-size: 15px;
          color: $font-dark;

          @include _768{
            font-size: 9px;
          }

          >img{
            margin-right: 14px;

            @include _768{
              margin-right: 5px;
              max-width: 15px;
            }
          }
        }
        &:last-child{
          .nav-link{
            padding: .5rem 0 .5rem 1rem;
          }
        }
      }
    }

    .nav-item,
    .menu-item {
      margin-left: 25px;

      @include _1170{
        margin-left: 0;
      }
      .nav-link{
        font-family: $text-font;
        font-weight: 700;
        font-size: clamp(14px, 1.3vw, 18px);
        color: $font-dark;
      }
    }
  }

  .header-logo {
    max-width: 265px;

    @include _768{
      max-width: 230px;
    }
  }
  .navbar-nav{
    .menu{
      display: flex;
      padding-left: 0;
      flex-direction: row;
      margin-top: 0;
      li.menu-item{
        a{
          font-family: $text-font;
          font-weight: 700;
          font-size: clamp(14px, 1.3vw, 18px);
          color: $font-dark;
          display: block;
          padding: .5rem .5rem;
          &:hover{
            text-decoration: none;
            color: $primary-accent;
          }
        }
        &:last-child{
          a{
            padding: .5rem 0 .5rem .5rem;
          }
        }
        &.current-menu-item{
          a{
            color: $primary-accent;
          }
        }
      }
    }
  }
}