.section-inspiration {
  margin: 0;
  padding: 70px 0;

  @include _768 {
    padding: 30px 30px;
  }

  .slider-wrapper {
    position: relative;
  }

  .inspiration-slider {
    position: relative;
    z-index: 4;
    overflow: hidden;
  }

  .insp-post {
    text-align: left;
    .thumbnail{
      width: 100%;
      height: 300px;
      background-position: center;
      background-size: cover;
      border-radius: 0px 15px 0px 0px;
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;
      &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        background-color: #BEC30F;
        opacity: 0;
        transition: $transition;
      }
    }
    &:hover{
      .thumbnail::after{
        opacity: 0.85;
      }
    }
    @include _768 {
      text-align: center;
    }
  }

  .insp-post-img {
    margin-bottom: 22px;
    border-top-right-radius: $product-image-border-left-radius;
  }

  .insp-post-title {
    display: block;
    color: $title-color;
    font-family: $text-font;
    font-weight: 700;
    transition: $transition;

    &:hover {
      color: $primary-accent;
      text-decoration: none;
    }
  }

  .swiper-insp-buttons {
    position: absolute;
    top: 50%;
    left: -6%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 112%;
    transform: translateY(-50%);
  }

  .swiper-button {
    width: 13px;
    height: 26px;
    display: block;
    background-size: cover;
    background-position: center;
    &::after{
      display: none;
    }
    &-prev {
      background-image: url('../images/prev-arrow-large.svg');
      left: -50px;
      &:hover{
        background-image: url('../images/prev-arrow-hover.svg');
      }
    }
    &-next {
      background-image: url('../images/next-arrow-large.svg');
      right: -50px;
      &:hover{
        background-image: url('../images/next-arrow-hover.svg');
      }
    }
  }
}
