.section-intro {
  margin-top: 0;
  margin-left: -15px;
  margin-bottom: 20px;
  @include _768 {
    margin: auto;
  }

  .intro-slider {
    height: 100%;
    min-height: calc(100vh - 143px);
    position: relative;
    overflow: hidden;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
    .swiper-slide{
      .image{
        width: 100%;
        height: 100%;
        // height: 100vh;
        // min-height: 700px;
        background-position: center;
        background-size: cover;
      }
    }
  }

  .swiper-buttons {
    position: absolute;
    right: 45px;
    bottom: 35px;
    z-index: 3;
    display: flex;
    align-items: center;
  }

  .swiper-button {
    width: 12px;
    height: 21px;
    margin-top: 0;
    top: 2px;
    &-prev {
      left: -16px;
      background-image: url('../images/prev-arrow.svg');
      &:hover{
        background-image: url('../images/prev-arrow-hover.svg');
      }
    }
    &-next {
      right: -16px;
      background-image: url('../images/next-arrow.svg');
      &:hover{
        background-image: url('../images/next-arrow-hover.svg');
      }
    }
    &::after{
      display: none;
    }
  }

  .swiper-pagination-bullet {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: $primary-light;
    border-radius: 3px;
    opacity: 1;
    &:hover,
    &-active {
      background-color: $secondary-accent;
    }
  }
}

.section-content {
  width: 100%;
  padding: 69px 0 0 100px;
  .headline-title {
    margin: 0 0 46px 0;
    font-size: $main-title-font-size;
    font-family: $title-font;
    font-weight: 300;
    line-height: 1.2;

    span {
      display: block;
      color: $primary-accent;
    }
  }

  .headline-description {
    margin-bottom: 50px;
    font-size: $text-lg-font-size;
    font-family: $text-font;
    font-weight: 400;
    line-height: 1.5;
  }

  .search-form {
    position: relative;
    max-width: 485px;
    margin-bottom: 35px;

    input {
      width: 100%;
      padding: 13px 50px 12px 25px;
      border: 1px solid $primary-accent;
      border-radius: 12px;
    }

    .search-icon{
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      padding: 0;
      background-color: transparent;
      border: none;
      background-image: url('../images/search-icon.svg');
      cursor: pointer;
      &:hover{
        background-image: url('../images/search-icon-hover.svg');
      }
      &:focus{
        outline: none;
      }
    }
  }

  .search-keywords {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -8px;
  }

  .search-keyword {
    margin: 7px;
    padding: 11px 25px 10px;
    color: $primary-light;
    font-weight: 400;
    font-size: $text-lg-font-size;
    font-family: $text-font;
    background-color: $primary-accent;
    border-radius: $border-radius;
    transition: $transition;

    &:hover,
    &.is-active {
      background-color: $secondary-accent;
      cursor: pointer;
    }
  }
}
