.modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  background-color: $popup-bg;
  opacity: 0;
  transition: $transition;
  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: all;
    .login-form {
      margin-right: $scrollbar-width;
    }
  }
  &.login{
    form{
      width: 100%;
      text-align: left;
      p{
        &.login-username{
          margin-bottom: 40px;
        }
        &.login-password{
          margin-bottom: 20px;
        }
        &.login-remember{
          margin-bottom: 30px;
          input{
            margin: 7px 7px 0 0;
          }
        }
        &.login-submit{
          text-align: center;
          input{
            display: inline-block;
            border: none;
            background-color: $primary-accent;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            padding: 12px 25px 13px;
            transition: $transition;
            &:hover{
              background-color: $secondary-accent;
            }
          }
        }
      }
      label{
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 10px;
        input{
          float: left;
        }
      }
      input.input{
        width: 100%;
      }
    }
  }
  .modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 620px;
    padding: 40px 65px 65px 65px;
    text-align: center;
    background-color: $primary-light;
    box-shadow: $header-shadow;
    transform: translate(-50%, -50%);

    &.location {
      max-width: 800px;
      .headline-title{
        margin-bottom: 61px;
      }
      .modal-text {
        width: 50%;
        float: left;
        text-align: left;
        padding-right: 20px;
        .choose-location {
          margin-bottom: 20px;
          font-size: $text-lg-font-size;
          font-family: $text-font;
          font-weight: 400;
        }
        div.location{
          color: $primary-accent;
          cursor: pointer;
          font-weight: 700;
          float: left;
          font-size: 18px;
          line-height: 27px;
          margin-right: 5px;
          transition: $transition;
          &:hover{
            color: $secondary-accent;
          }
        }
      }
      .modal-map{
        width: 50%;
        float: left;
        img{
          margin-top: -61px;
        }
      }
    }

    @include _768 {
      padding: 30px;
    }
  }

  .form-title {
    margin-bottom: 48px;
    color: $font-dark;
    font-size: $modal-title-font-size;
    font-family: $title-font;
    line-height: 101px;
    font-weight: 300;
    text-align: left;
  }

  span[data-close] {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/close-button.svg');
    cursor: pointer;
    transition: $transition;
    &:hover{
      background-image: url('../images/close-button-hover.svg');
    }
  }

  .form-row {
    display: flex;
    flex-direction: column;
    margin: 25px 0 20px;
    text-align: left;
  }

  label {
    cursor: pointer;
  }
  ::placeholder {
      color: #ACB1B6;
  }
  input {
    display: block;
    padding: 10px 32px 11px;
    font-family: $text-font;
    font-style: italic;
    border: $form-input-border;
    border-radius: $border-radius;
    &:focus{
      border-color: #7896b9;
    }
  }

  .pass-reset-link {
    margin-top: 10px;
    font-size: $text-font-size;
    text-align: right;
  }

  .form-headline {
    text-align: left;
  }

  .headline-title {
    font-size: $modal-title-font-size;
    font-family: $title-font;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    span {
      display: block;
      color: $primary-accent;
    }
  }

  .modal-container {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
  }
}
