.section-products {
  padding: 70px 0 30px;
  background-color: $section-bg-accent;
  margin-bottom: 20px;
  .product-card {
    margin-bottom: 40px;
    overflow: hidden;
    text-align: center;
    border-top-right-radius: $product-image-border-left-radius;

    .image-wrapper {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $secondary-accent;
        opacity: 0;
        transition: $transition;
        content: "";
      }
    }

    &:hover {
      .image-wrapper::before {
        opacity: 0.5;
      }
    }

    .product-title {
      margin-top: 10px;
      color: $title-color;
      font-size: $text-lg-font-size;
      font-family: $text-font;
      font-weight: 700;
      text-align: center;
    }

    .stretched-link:hover {
      text-decoration: none;
    }
  }
}

.section-title {
  margin-bottom: 50px;
  color: $title-color;
  font-size: $title-font-size;
  font-family: $title-font;
  font-weight: 700;
}
