.section-recommended {
  padding-bottom: 40px;
  margin: 0;
  background-color: $section-bg-secondary;

  .section-content {
    max-width: 100%;
    padding: 69px 0 0;
  }

  .card-image {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    padding: 30px 30px 0 30px;
    text-align: center;
    .thumbnail{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }
  .card-text-content{
    height: 100%;
    padding: 30px 30px 90px 30px;
    .card-price{
      margin-bottom: 0;
    }
  }
  .cart-title{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .card-description{
    font-size: 15px;
    line-height: 20px;
  }
  .feature-card {
    min-height: 615px;
    margin-bottom: 30px;
    position: relative;
    a.btn{
      position: absolute;
      bottom: 30px;
      left: 30px;
    }
    &.horizontal {
      min-height: inherit;
      height: 297px;
      margin-bottom: 21px;
      .card-text-content{
        width: 325px;
        display: block;
        float: left;
      }
      .card-image{
        width: 230px;
        height: 100%;
        max-height: inherit;
        display: block;
        float: left;
        padding: 15px 30px 15px 0;
      }

      @include _768 {
        flex-direction: column;
      }
    }

    .card-image {

      @include _768 {
        order: -1;
      }
    }
  }
}
