.section-rent {
  padding: 115px 0;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  .section-content {
    margin: 0;
    padding: 0;
    @include _768 {
      margin-bottom: 55px;
    }

    .headline-title,
    .headline-accent {
      color: $font-light;
    }

    .headline-description {
      color: $font-light;

      span {
        display: block;
        margin-bottom: 20px;
        font-family: $text-font;
        font-weight: 700;
      }
    }
  }
}
