// DEFAULT DOCUMENT STYLES
html {
  box-sizing: border-box;
  font-size: $fontsize+px; // $fontsize - берется из _vars.scss
}

*,
*::before,
*::after {
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  box-sizing: inherit;
  outline: none;
}

::placeholder {
  color: #ACB1B6;
}

::selection {
  color: $primary-light;
  background-color: $primary-accent;
}

body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  color: $font-dark;
  font-size: $fontsize+px; // $fontsize - берется из _vars.scss
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica', 'Arial', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-family: $text-font;
  font-weight: 400;
  background-color: $primary-light;

  &::-webkit-scrollbar {
    width: $scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border: $scrollbar-thumb-border;
    border-radius: $scrollbar-thumb-radius;
  }
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input,
textarea {
  outline: none;

  &:required:valid {
    border-color: $success-color;
  }

  &:focus:required:invalid {
    border-color: $error-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: $primary-accent;
  text-transform: none;
  transition: $transition;
  &:hover{
    color: $secondary-accent;
  }
}

li {
  list-style-type: none;
}

.section {
  // margin: 20px 0;
}
main{
  padding-top: 143px;
}
.no-scroll {
  padding-right: $scrollbar-width;
  overflow: hidden;
  pointer-events: none;
}
.btn-primary{
  background-color: $primary-accent;
  border-color: $primary-accent;
  &:focus,
  &:active,
  &.active{
    box-shadow: none!important;
    outline: none!important;
    background-color: $secondary-accent!important;
    border-color: $secondary-accent!important;
  }
  &.large{
    padding: 11px 25px 13px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}
.swiper-button-next,
.swiper-pagination-bullet{
  transition: $transition;
}