// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furlw2, $furl) {
  @font-face {
    font-weight: $fweight;
    font-family: $fname;
    font-style: $fstyle;
    src:
      local($fname),
      url($furlw2) format('woff2'),
      url($furl) format('woff');
    font-display: swap; // initially display system fonts
  }
}

// Open Sans font
@include font('OpenSans', normal, 400, '../fonts/Open_Sans/OpenSans-Regular.woff2', '../fonts/Open_Sans/OpenSans-Regular.woff');
@include font('OpenSans', italic, 400, '../fonts/Open_Sans/OpenSans-Italic.woff2', '../fonts/Open_Sans/OpenSans-Italic.woff');
@include font('OpenSans', normal, 700, '../fonts/Open_Sans/OpenSans-Bold.woff2', '../fonts/Open_Sans/OpenSans-Bold.woff');
// Ubuntu font
@include font('Ubuntu', normal, 300, '../fonts/Ubuntu/Ubuntu-Light.woff2', '../fonts/Ubuntu/Ubuntu-Light.woff');
@include font('Ubuntu', normal, 700, '../fonts/Ubuntu/Ubuntu-Bold.woff2', '../fonts/Ubuntu/Ubuntu-Bold.woff');
